.profile {
  background: linear-gradient(180deg, rgb(235.88, 246.25, 255) 0%, rgb(223.14, 240.43, 255) 100%);
  border-radius: 49px;
}

.profile .img {
  background: linear-gradient(180deg, rgb(153.32, 194.6, 248.63) 0%, rgba(202.94, 238.43, 255, 0.36) 100%);
  background-image: url("../../assets/defaultUser.png");
  background-size: 100% 100%;
  border-radius: 130px/131.87px;
  box-shadow: 0px 26px 49px #0a7cb747;
  height: 263px;
  width: 260px;
  position: relative;
}

.profile .img .progress-stars {
  background-color: #ffffff;
  border-radius: 31.42px/32.35px;
  box-shadow: 0px 4px 16px #72727245;
  position: absolute;
  height: 65px;
  width: 63px;
  top: 100px;
  left: -20px;
}

.profile .img .progress-stars .stars-rating {
  height: 10px;
  left: 12px;
  position: absolute;
  top: 22px;
  width: 39px;
}

.profile .img .progress-stars .star {
  background-image: url(https://cdn.animaapp.com/projects/64da47c09e7225f2aa1a3abe/releases/6523645162f75e9352093e34/img/vector.svg);
  background-size: 100% 100%;
  height: 10px;
  left: 15px;
  position: absolute;
  top: 0;
  width: 10px;
}

.profile .img .progress-stars .star-2 {
  background-image: url(https://cdn.animaapp.com/projects/64da47c09e7225f2aa1a3abe/releases/6523645162f75e9352093e34/img/vector-1.svg);
  background-size: 100% 100%;
  height: 10px;
  left: 29px;
  position: absolute;
  top: 0;
  width: 10px;
}

.profile .img .progress-stars .star-3 {
  background-image: url(https://cdn.animaapp.com/projects/64da47c09e7225f2aa1a3abe/releases/6523645162f75e9352093e34/img/vector-2.svg);
  background-size: 100% 100%;
  height: 10px;
  left: 0;
  position: absolute;
  top: 0;
  width: 11px;
}

.profile .img .progress-stars .little-progress-bar {
  background-color: #d6edf7;
  border-radius: 12px;
  height: 4px;
  left: 14px;
  position: absolute;
  top: 41px;
  width: 34px;
}

.profile .img .progress-stars .rectangle-3 {
  background-color: #137fff;
  border-radius: 12px;
  height: 4px;
  width: 23px;
}

.profile .img .little-doc-right {
  background-color: #ffffff;
  border-radius: 9px;
  box-shadow: 0px 11px 18px #33333317;
  height: 39px;
  left: 232px;
  position: absolute;
  top: 60px;
  width: 67px;
}

.profile .img .little-doc-right .overlap-group-3 {
  background-color: #fafafa;
  border-radius: 3px;
  height: 24px;
  left: 30px;
  position: absolute;
  top: 7px;
  width: 24px;
}

.profile .img .little-doc-right .rectangle-4 {
  background-color: #b5e4fae6;
  border-radius: 8px;
  height: 3px;
  left: 3px;
  position: absolute;
  top: 4px;
  width: 18px;
}

.profile .img .little-doc-right .rectangle-5 {
  background-color: #e6e6e6;
  border-radius: 8px;
  height: 3px;
  left: 3px;
  position: absolute;
  top: 10px;
  width: 13px;
}

.profile .img .little-doc-right .rectangle-6 {
  background-color: #e6e6e6;
  border-radius: 8px;
  height: 2px;
  left: 3px;
  position: absolute;
  top: 16px;
  width: 9px;
}

.profile .img .little-doc-right .line {
  height: 12px;
  left: 7px;
  position: absolute;
  top: 13px;
  width: 16px;
}

.profile .welcome-back {
  color: #1e1e1e;
  font-family: "Spartan", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.profile .fred-jonathan {
  color: #1e1e1e;
  font-family: "Spartan", Helvetica;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.profile .update-profile-wrapper {
  background-color: #ffffff;
  border-radius: 26px;
  padding: 20px 20px;
  text-align: center;
  color: #137fff;
  font-family: "Spartan", Helvetica;
  font-size: 18.6px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.dispute-progress .dispute-progress-heading {
  color: #0a0203;
  font-family: "Spartan", Helvetica;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.dispute-progress .element-dispute-in-this {
  color: transparent;
  font-family: "Spartan", Helvetica;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.dispute-progress .element-dispute-in-this .span {
  color: #1380FF;
  leading-trim: both;
  text-edge: cap;
  font-family: Spartan;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.dispute-progress .element-dispute-in-this .month {
  color: #A7A9AC;
  leading-trim: both;
  text-edge: cap;
  font-family: Spartan;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.generated {
  color: #231F20;
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-family: Spartan;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

.generated-accounts {
  color: #BDBFC0;
  leading-trim: both;
  text-edge: cap;
  font-family: Spartan;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.generated-accounts span {
  color: #1380FF;
  leading-trim: both;
  text-edge: cap;
  font-family: Spartan;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.your-card-heading {
  color: #0A0203;
  leading-trim: both;
  text-edge: cap;
  font-family: Spartan;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

.your-card-amount {
  color: #161616;
  leading-trim: both;
  text-edge: cap;
  font-family: Spartan;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}

.your-card-date {
  color: #737373;
  leading-trim: both;
  text-edge: cap;
  font-family: Spartan;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

.your-card-credit-card {
  width: 100%;
  height: 14rem;
  position: relative;
}

.your-card-credit-card .full {
  background: linear-gradient(76deg, #1380FF 6.88%, rgba(223, 238, 255, 0.76) 98.83%);
  height: 100%;
  width: 100%;
  border-radius: 2.25356rem;
}
.your-card-credit-card .master-card {
  position: absolute;
  top: 10px;
  right: 10px;
}

.your-card-credit-card .current-balance {
  color: rgba(222, 245, 255, 0.90);
  leading-trim: both;
  text-edge: cap;
  font-family: Spartan;
  font-size: 0.94888rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}
.your-card-credit-card .amount {
  color: #FFF;
  leading-trim: both;
  text-edge: cap;
  font-family: Spartan;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

.your-card-credit-card .card-number {
  color: #FFF;
  leading-trim: both;
  text-edge: cap;
  font-family: Spartan;
  font-size: 1.18606rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}
.your-card-credit-card .card-date {
  color: #FFF;
  leading-trim: both;
  text-edge: cap;
  font-family: Spartan;
  font-size: 1.18606rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

.last-payment-details {
  color: #333333;
  font-family: "Spartan", Helvetica;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.amount-paid {
  color: #D0D0D0;
  leading-trim: both;
  text-edge: cap;
  font-family: Spartan;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

.amount-paid-amount {
  color: #333;
  font-family: Spartan;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

.invoice {
  border-radius: 1.375rem;
  background: #FFF;
  box-shadow: 0px 7px 20px 0px rgba(51, 51, 51, 0.04);
}

.invoice .heading {
  color: #EB6B7A;
  leading-trim: both;
  text-edge: cap;
  font-family: Spartan;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

.invoice .date {
  color: #A3A3A3;
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-family: Spartan;
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

.invoice .to {
  color: #333;
  leading-trim: both;
  text-edge: cap;
  font-family: Spartan;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.invoice .download {
  border-radius: 1.125rem;
  background: #FC0;
}

.progress-transunion {
  color: #1A1818;
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-family: Spartan;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

.report-updated {
  color: #333;
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-family: Spartan;
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

.report-updated-date {
  color: rgba(51, 51, 51, 0.43);
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-family: Spartan;
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

.dispute-in-progress {
  color: #181717;
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-family: Spartan;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

.letter-sent {
  color: #000;
  leading-trim: both;
  text-edge: cap;
  font-family: Spartan;
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 400;
  line-height: 113.5%; 
  letter-spacing: 0.025rem;
  text-transform: capitalize;
}

.letter-sent-date {
  color: rgba(51, 51, 51, 0.37);
  leading-trim: both;
  text-edge: cap;
  font-family: Spartan;
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 400;
  line-height: 113.5%; /* 0.70938rem */
  letter-spacing: 0.025rem;
  text-transform: capitalize;
}

.upload-doc {
  border-radius: 3rem;
  border: 6px solid #FFF;
  background: linear-gradient(263deg, #EDF5FF 3.5%, rgba(237, 245, 255, 0.65) 3.5%, rgba(136, 168, 211, 0.09) 48.76%, rgba(248, 239, 255, 0.68) 96.11%);
}

.upload-doc-button {
  color: #333;
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-family: Spartan;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

.upload-doc-important {
  color: #333;
  leading-trim: both;
  text-edge: cap;
  font-family: Spartan;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

.upload-doc-content {
  color: #737373;
  leading-trim: both;
  text-edge: cap;
  font-family: Spartan;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 161.5%; /* 1.615rem */
}

.publish-doc-button {
  border-radius: 3rem;
  background: #1380FF;
  box-shadow: 0px 8px 7px 0px rgba(40, 137, 251, 0.40);
  color: #FFF;
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-family: Spartan;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

.my-score {
  color: #686666;
  leading-trim: both;
  text-edge: cap;
  font-family: Spartan;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

.select-time {
  border-radius: 1.9375rem;
  background: rgba(238, 238, 238, 0.26);
  color: #333;
  leading-trim: both;
  text-edge: cap;
  font-family: Spartan;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 113.5%; /* 0.99313rem */
  letter-spacing: 0.035rem;
  text-transform: capitalize;
}

.score-label {
  color: #333;
  leading-trim: both;
  text-edge: cap;
  font-family: Spartan;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.0325rem;
  text-transform: capitalize;
}

.credit-item-heading {
  color: #000;
  leading-trim: both;
  text-edge: cap;
  font-family: Spartan;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

.credit-item-filter {
  color: #1380FF;
  leading-trim: both;
  text-edge: cap;
  font-family: Spartan;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
  border-radius: 0.625rem;
  background: #E2F0FF;
}

.credit-table {
  width: 100%;
}

.credit-table th, .credit-table td {
  padding: 20px 16px;
  text-align: center;
}

.credit-table tr {
  border-bottom: 1px solid #D8D8D8;
}

.item-table-heading {
  color: #333;
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-family: Spartan;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}
.status-positive {
  color: #38B000;
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-family: Spartan;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
  border-left: 3px solid #50D910;
  background: linear-gradient(90deg, rgba(81, 255, 0, 0.14) 0%, rgba(86, 255, 7, 0.02) 100%, rgba(86, 255, 7, 0.00) 100%);
}

.status-required {
  color: #5083C1;
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-family: Spartan;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
  border-left: 3px solid #5083C1;
  background: linear-gradient(90deg, rgba(119, 177, 248, 0.15) 0%, rgba(142, 202, 230, 0.00) 100%);
}

.status-deleted {
  color: #EB6B7A;
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-family: Spartan;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
  border-left: 3px solid #CF202E;
  background: linear-gradient(90deg, rgba(235, 107, 122, 0.12) 0%, rgba(235, 107, 122, 0.00) 100%);
}

.status-disputing {
  color: #FC0;
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-family: Spartan;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
  border-left: 3px solid #FC0;
  background: linear-gradient(90deg, rgba(252, 218, 42, 0.17) 0%, rgba(252, 218, 42, 0.00) 100%);
}
 
 .status-negative {
  color: #30D7C7;
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-family: Spartan;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
  border-left: 3px solid #30D7C7;
  background: linear-gradient(90deg, rgba(48, 215, 199, 0.16) 0%, rgba(48, 215, 199, 0.00) 100%);
 }

.item-value {
  color: #333;
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-family: Spartan;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

.credit-item-result {
  color: #D3D3D3;
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-family: Spartan;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.credit-item-count {
  color: #333;
  leading-trim: both;
  text-edge: cap;
  font-family: Spartan;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.categories-heading {
  color: #0A0203;
  leading-trim: both;
  text-edge: cap;
  font-family: Spartan;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

.categories-sub-heading {
  color: #7B7A7A;
  leading-trim: both;
  text-edge: cap;
  font-family: Spartan;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.installment {
  border-radius: 3rem;
  border: 6px solid #FFF;
  background: #EDF5FF;
}

.installment-title {
  color: #333;
  leading-trim: both;
  text-edge: cap;
  font-family: Spartan;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

.installment-name {
  color: #737373;
  leading-trim: both;
  text-edge: cap;
  font-family: Spartan;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.installment-amount {
  color: #333;
  leading-trim: both;
  text-edge: cap;
  font-family: Spartan;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

.due-payment {
  position: relative;
  border-radius: 3rem;
  border: 6px solid #FFF;
  background: #FFF;

}

.accounts {
  border-radius: 1.875rem;
  background: #FFF;
}

.accounts-title {
  color: #161616;
  leading-trim: both;
  text-edge: cap;
  font-family: Spartan;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

.accounts-text {
  color: #A3A3A3;
  text-align: start;
  leading-trim: both;
  text-edge: cap;
  font-family: Spartan;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

.profile-completeness {
  color: #161616;
  leading-trim: both;
  text-edge: cap;
  font-family: Spartan;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

.existing-account {
  color: #333;
  leading-trim: both;
  text-edge: cap;
  font-family: Spartan;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

.complete-account {
  color: #EF9D00;
  leading-trim: both;
  text-edge: cap;
  font-family: Spartan;
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

.account-name {
  color: #000;
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-family: Spartan;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize; 
}

.account-email {
  color: #BDBFC0;
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-family: Spartan;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.manage-account {
  border-radius: 1.5625rem;
  background: linear-gradient(180deg, #1380FF 0%, rgba(142, 202, 230, 0.63) 130.2%);
  box-shadow: 0px 8px 11px 0px rgba(19, 128, 255, 0.26);
  color: #FFF;
  leading-trim: both;
  text-edge: cap;
  font-family: Spartan;
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

.view-all {
  color: #231F20;
  leading-trim: both;
  text-edge: cap;
  font-family: Spartan;
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

.calendar-heading {
  color: #686666;
  leading-trim: both;
  text-edge: cap;
  font-family: Spartan;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.upcoming-task .select-time {
  color: #1380FF;
  leading-trim: both;
  text-edge: cap;
  font-family: Spartan;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

.upcoming-task .time {
  color: #333;
  leading-trim: both;
  text-edge: cap;
  font-family: Spartan;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.upcoming-task .primary-event {
  border-radius: 0.4375rem;
  background: linear-gradient(90deg, rgba(136, 191, 255, 0.30) 5.68%, rgba(19, 128, 255, 0.26) 53.93%, rgba(38, 132, 255, 0.30) 96.51%);
}

.upcoming-task .schedule-meeting {
  color: #FFF;
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-family: Spartan;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

.upcoming-task .schedule-meeting-time {
  color: #FFF;
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-family: Spartan;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}