.middle-div {
    height: 100%;
    float: right;
    width: 100%;
    background-color: #1380FF;
    text-align: center;
    vertical-align: middle;
    line-height: 100%;
    display: inline-block;
    border-right: 20px solid #1380FF;
}
    
.arrow-right {
height: 0px;
border-top: 50px solid transparent;
border-bottom: 50px solid transparent;
border-left: 50px solid #1380FF;
float: left;
display: inline-block;
}

@media (min-width: 640px) {
.arrow-right {
  height: 0px;
  border-top: 70px solid transparent;
  border-bottom: 70px solid transparent;
  border-left: 70px solid #1380FF;
  float: left;
  display: inline-block;
  }
}

@media (min-width: 768px) {
  .arrow-right {
    height: 0px;
    border-top: 100px solid transparent;
    border-bottom: 100px solid transparent;
    border-left: 100px solid #1380FF;
    float: left;
    display: inline-block;
    }
}

.stepper-item {
  position: relative;
 
}

.stepper-item::before {
  position: absolute;
  content: "";
  border-bottom: 7px solid #fff;
  width: 100%;
  top: 20px;
  left: -50%;
  z-index: 2;
}

.stepper-item::after {
  position: absolute;
  content: "";
  border-bottom: 7px solid #fff;
  width: 100%;
  top: 20px;
  left: 50%;
  z-index: 2;
}

.stepper-item:first-child::before {
  content: none;
}
.stepper-item:last-child::after {
  content: none;
}
.plan-1 {
 position: relative;

}
.plan-1::after {
 content: "Duration 60-90 days";
 position: absolute;
 right: -2rem;
 background: blue;
 top: 50%;
 width: 2rem;
 height: auto;
 writing-mode: vertical-rl;
 color: #FFF;
text-align: center;
leading-trim: both;
text-edge: cap;
font-family: Spartan;
font-size: 1.25rem;
font-style: normal;
font-weight: 700;
line-height: 138%; /* 1.725rem */
text-transform: uppercase;
border-radius: 0rem 1.25rem 1.25rem 0rem;
background: linear-gradient(180deg, rgba(136, 191, 255, 0.76) 0%, #5083C1 100%);
padding: 2rem 0;
}
.plan-2 {
 position: relative;

}
.plan-2::after {
 content: "Duration 60-90 days";
 position: absolute;
 right: -2rem;
 background: blue;
 top: 50%;
 width: 2rem;
 height: auto;
 writing-mode: vertical-rl;
 color: #FFF;
text-align: center;
leading-trim: both;
text-edge: cap;
font-family: Spartan;
font-size: 1.25rem;
font-style: normal;
font-weight: 700;
line-height: 138%; /* 1.725rem */
text-transform: uppercase;
border-radius: 0rem 1.25rem 1.25rem 0rem;
background: linear-gradient(180deg, #FFB3C6 0%, #FB6F92 100%);
padding: 2rem 0;
}
.plan-3 {
 position: relative;

}
.plan-3::after {
 content: "Duration 60-90 days";
 position: absolute;
 right: -2rem;
 background: blue;
 top: 50%;
 width: 2rem;
 height: auto;
 writing-mode: vertical-rl;
 color: #FFF;
text-align: center;
leading-trim: both;
text-edge: cap;
font-family: Spartan;
font-size: 1.25rem;
font-style: normal;
font-weight: 700;
line-height: 138%; /* 1.725rem */
text-transform: uppercase;
border-radius: 0rem 1.25rem 1.25rem 0rem;
background: linear-gradient(180deg, #A3E1DD 0%, rgba(46, 196, 182, 0.76) 100%);
padding: 2rem 0;
}
.package-1 {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="414" height="311" viewBox="0 0 414 311" fill="none"><g filter="url(%23filter0_i_839_740)"><path d="M0.544922 32.7789C0.544922 14.8695 15.0633 0.351074 32.9727 0.351074H398.138C407.532 0.351074 414.706 8.80753 413.284 18.094C394.237 142.526 295.332 240.561 170.582 257.397L153.346 259.882C107.024 266.561 62.0521 280.531 20.0988 301.272L0.544922 310.939V32.7789Z" fill="url(%23paint0_linear_839_740)"/></g><defs><filter id="filter0_i_839_740" x="0.544922" y="-6.64893" width="412.919" height="317.588" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/><feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/><feOffset dy="-8"/><feGaussianBlur stdDeviation="3.5"/><feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/><feColorMatrix type="matrix" values="0 0 0 0 0.2 0 0 0 0 0.2 0 0 0 0 0.2 0 0 0 0.35 0"/><feBlend mode="normal" in2="shape" result="effect1_innerShadow_839_740"/></filter><linearGradient id="paint0_linear_839_740" x1="11.2177" y1="310.939" x2="439.352" y2="145.744" gradientUnits="userSpaceOnUse"><stop stop-color="%2389092D"/><stop offset="0.234375" stop-color="%23FF8190"/><stop offset="1" stop-color="%23A4133C"/></linearGradient></defs></svg>');
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: left top;
}
.package-2 {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="461" height="325" viewBox="0 0 461 325" fill="none"><path d="M0.932617 9.78656C0.932617 4.84786 4.93623 0.844238 9.87494 0.844238H436.651C453.604 0.844238 465.213 17.9428 458.958 33.699L448.533 59.9626C410.211 156.501 329.365 229.868 229.571 258.669L194.356 268.832L140.094 277.856C111.348 282.636 83.2388 290.665 56.3048 301.787L0.932617 324.653V9.78656Z" fill="url(%23paint0_linear_839_570)"/><defs><linearGradient id="paint0_linear_839_570" x1="72.576" y1="222.81" x2="385.679" y2="142.333" gradientUnits="userSpaceOnUse"><stop stop-color="%231E6AC3"/><stop offset="0.536458" stop-color="%2395CDE8" stop-opacity="0.88"/><stop offset="1" stop-color="%235DA7FE"/></linearGradient></defs></svg>');
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: left top;
}
.package-3 {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="413" height="311" viewBox="0 0 413 311" fill="none"><g filter="url(%23filter0_i_1663_588)"><path d="M0.202148 33.3028C0.202148 15.1902 15.0393 0.588903 33.1496 0.8792L397.718 6.72298C406.888 6.86997 413.849 15.0307 412.548 24.1097L411.436 31.8688C393.887 154.312 293.584 248.099 170.239 257.397L153.003 259.882C106.682 266.561 61.7093 280.531 19.756 301.272L0.202148 310.939V33.3028Z" fill="url(%23paint0_linear_1663_588)"/></g><defs><filter id="filter0_i_1663_588" x="0.202148" y="-3.125" width="412.502" height="314.064" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/><feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/><feOffset dy="-4"/><feGaussianBlur stdDeviation="4.5"/><feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/><feColorMatrix type="matrix" values="0 0 0 0 0.2 0 0 0 0 0.2 0 0 0 0 0.2 0 0 0 0.34 0"/><feBlend mode="normal" in2="shape" result="effect1_innerShadow_1663_588"/></filter><linearGradient id="paint0_linear_1663_588" x1="10.8749" y1="310.939" x2="598.634" y2="140.376" gradientUnits="userSpaceOnUse"><stop stop-color="%2307545B"/><stop offset="0.566059" stop-color="%237ADFD8"/><stop offset="1" stop-color="%23C4C6C7"/><stop offset="1" stop-color="%231395A0"/></linearGradient></defs></svg>');
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: left top;
}
