.middle-div {
    height: 100%;
    float: right;
    width: 100%;
    background-color: #1380FF;
    text-align: center;
    vertical-align: middle;
    line-height: 100%;
    display: inline-block;
    border-right: 20px solid #1380FF;
}
    
.arrow-right {
height: 0px;
border-top: 50px solid transparent;
border-bottom: 50px solid transparent;
border-left: 50px solid #1380FF;
float: left;
display: inline-block;
}

@media (min-width: 640px) {
.arrow-right {
  height: 0px;
  border-top: 70px solid transparent;
  border-bottom: 70px solid transparent;
  border-left: 70px solid #1380FF;
  float: left;
  display: inline-block;
  }
}

@media (min-width: 768px) {
  .arrow-right {
    height: 0px;
    border-top: 100px solid transparent;
    border-bottom: 100px solid transparent;
    border-left: 100px solid #1380FF;
    float: left;
    display: inline-block;
    }
}

.stepper-item {
  position: relative;
 
}

.stepper-item::before {
  position: absolute;
  content: "";
  border-bottom: 7px solid #fff;
  width: 100%;
  top: 20px;
  left: -50%;
  z-index: 2;
}

.stepper-item::after {
  position: absolute;
  content: "";
  border-bottom: 7px solid #fff;
  width: 100%;
  top: 20px;
  left: 50%;
  z-index: 2;
}

.stepper-item:first-child::before {
  content: none;
}
.stepper-item:last-child::after {
  content: none;
}