.add-user {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.add-user .div {
  background-color: #f7f7f7;
  height: 1899px;
  overflow: hidden;
  position: relative;
  width: 1950px;
}

.add-user .overlap {
  height: 1899px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1907px;
}

.add-user .text-wrapper {
  color: #686565;
  font-family: "Spartan", Helvetica;
  font-size: 64px;
  font-weight: 700;
  left: 370px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 218px;
  white-space: nowrap;
  width: 497px;
}

.add-user .rectangle {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #e8e6e6;
  border-radius: 10px;
  height: 1333px;
  left: 371px;
  position: absolute;
  top: 403px;
  width: 1461px;
}

.add-user .table-footer {
  align-items: center;
  display: flex;
  gap: 26px;
  height: 50px;
  justify-content: flex-end;
  left: 154px;
  padding: 0px 10px 0px 0px;
  position: absolute;
  top: 1675px;
  width: 1675px;
}

.add-user .container {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
}

.add-user .rows-per-page {
  color: #3a3541ad;
  font-family: var(--dark-typography-body-2-font-family);
  font-size: var(--dark-typography-body-2-font-size);
  font-style: var(--dark-typography-body-2-font-style);
  font-weight: var(--dark-typography-body-2-font-weight);
  letter-spacing: var(--dark-typography-body-2-letter-spacing);
  line-height: var(--dark-typography-body-2-line-height);
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.add-user .page {
  height: 24px;
  margin-right: -2px;
  position: relative;
  width: 40px;
}

.add-user .element {
  color: #3a3541de;
  font-family: var(--dark-typography-body-2-font-family);
  font-size: var(--dark-typography-body-2-font-size);
  font-style: var(--dark-typography-body-2-font-style);
  font-weight: var(--dark-typography-body-2-font-weight);
  left: 0;
  letter-spacing: var(--dark-typography-body-2-letter-spacing);
  line-height: var(--dark-typography-body-2-line-height);
  position: absolute;
  top: 3px;
  white-space: nowrap;
}

.add-user .filled-navigation {
  height: 24px;
  left: 14px;
  position: absolute;
  top: 0;
  width: 24px;
}

.add-user .element-of {
  color: #3a3541de;
  font-family: var(--dark-typography-body-2-font-family);
  font-size: var(--dark-typography-body-2-font-size);
  font-style: var(--dark-typography-body-2-font-style);
  font-weight: var(--dark-typography-body-2-font-weight);
  letter-spacing: var(--dark-typography-body-2-letter-spacing);
  line-height: var(--dark-typography-body-2-line-height);
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.add-user .navigation {
  height: 40px;
  position: relative;
  width: 88px;
}

.add-user .frame {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  gap: -14px 10px;
  height: 49px;
  left: 372px;
  position: absolute;
  top: 404px;
  width: 1455px;
}

.add-user .frame-2 {
  align-items: center;
  background-color: #f4f4f4;
  border-radius: 10px 0px 0px 0px;
  display: flex;
  gap: 45px;
  height: 49px;
  justify-content: center;
  padding: 20px 61px 20px 0px;
  position: relative;
  width: 218px;
}

.add-user .rectangle-2 {
  border: 1px solid;
  border-color: #919191;
  border-radius: 2px;
  height: 20.25px;
  margin-bottom: -5.62px;
  margin-top: -5.62px;
  position: relative;
  width: 20.75px;
}

.add-user .text-wrapper-2 {
  color: #333333;
  font-family: "Spartan", Helvetica;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.5px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.add-user .frame-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-left: -14px;
  position: relative;
  width: 217px;
}

.add-user .email-wrapper {
  align-items: center;
  background-color: #f4f4f4;
  display: flex;
  gap: 97px;
  height: 49px;
  justify-content: center;
  margin-right: -12px;
  padding: 20px 30px 20px 15px;
  position: relative;
  width: 229px;
}

.add-user .line {
  height: 15px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 19px;
  width: 1px;
}

.add-user .frame-4 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 67px;
  justify-content: center;
  margin-left: -14px;
  position: relative;
  width: 175px;
}

.add-user .passwords-wrapper {
  align-items: center;
  background-color: #f4f4f4;
  display: flex;
  gap: 54px;
  height: 49px;
  justify-content: center;
  margin-left: -5px;
  margin-right: -5px;
  padding: 20px 42px;
  position: relative;
  width: 185px;
}

.add-user .passwords {
  color: #333333;
  font-family: "Spartan", Helvetica;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.5px;
  position: relative;
  text-align: center;
  width: 87px;
}

.add-user .frame-5 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-left: -14px;
  position: relative;
  width: 200px;
}

.add-user .phone-number-wrapper {
  align-items: center;
  background-color: #f4f4f4;
  display: flex;
  gap: 54px;
  height: 49px;
  justify-content: center;
  padding: 20px 39px 20px 40px;
  position: relative;
  width: 186px;
}

.add-user .phone-number {
  color: #333333;
  font-family: "Spartan", Helvetica;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  margin-left: -1px;
  margin-right: -1px;
  margin-top: -1.5px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.add-user .frame-6 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-left: -14px;
  position: relative;
  width: 152px;
}

.add-user .city-wrapper {
  align-items: center;
  background-color: #f4f4f4;
  display: flex;
  gap: 54px;
  height: 49px;
  justify-content: center;
  margin-right: -13px;
  padding: 20px 39px 20px 0px;
  position: relative;
  width: 165px;
}

.add-user .city {
  color: #333333;
  font-family: "Spartan", Helvetica;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.5px;
  position: relative;
  text-align: center;
  width: 40px;
}

.add-user .frame-7 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-left: -14px;
  position: relative;
  width: 133px;
}

.add-user .state-wrapper {
  align-items: center;
  background-color: #f4f4f4;
  display: flex;
  gap: 54px;
  height: 49px;
  justify-content: center;
  margin-right: -29px;
  padding: 20px 39px 20px 0px;
  position: relative;
  width: 162px;
}

.add-user .frame-8 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-left: -14px;
  position: relative;
  width: 134px;
}

.add-user .zip-code-wrapper {
  align-items: center;
  background-color: #f4f4f4;
  display: flex;
  gap: 54px;
  height: 49px;
  justify-content: center;
  margin-right: -41px;
  padding: 20px 40px 20px 0px;
  position: relative;
  width: 175px;
}

.add-user .frame-9 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-left: -14px;
  padding: 0px 4px;
  position: relative;
  width: 149px;
}

.add-user .ss-number-wrapper {
  align-items: center;
  background-color: #f4f4f4;
  display: flex;
  gap: 54px;
  height: 49px;
  justify-content: center;
  margin-right: -11px;
  padding: 20px 39px 20px 42px;
  position: relative;
  width: 152px;
}

.add-user .ss-number {
  color: #333333;
  font-family: "Spartan", Helvetica;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  margin-left: -3px;
  margin-right: -3px;
  margin-top: -1.5px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.add-user .frame-10 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-left: -14px;
  padding: 0px 4px;
  position: relative;
  width: 189px;
}

.add-user .action-required-wrapper {
  align-items: center;
  background-color: #f4f4f4;
  border-radius: 0px 10px 0px 0px;
  display: flex;
  gap: 60px;
  height: 49px;
  justify-content: center;
  margin-right: -8px;
  overflow: hidden;
  padding: 28px 24px;
  position: relative;
  width: 189px;
}

.add-user .action-required {
  color: #333333;
  font-family: "Spartan", Helvetica;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: -7.5px;
  margin-top: -9.5px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.add-user .user {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 9px;
  left: 372px;
  position: absolute;
  top: 461px;
  width: 1459px;
}

.add-user .navbar-wrapper {
  align-items: flex-start;
  background-color: #fdfdfd;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 1448px;
}

.add-user .navbar {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  margin-right: -5px;
  position: relative;
  width: 1453px;
}

.add-user .rectangle-3 {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #e8e8e8;
  height: 57.93px;
  position: relative;
  width: 1453px;
}

.add-user .rectangle-4 {
  border: 1px solid;
  border-color: #d9d9d9;
  border-radius: 2px;
  height: 20px;
  left: 16px;
  position: absolute;
  top: 16px;
  width: 21px;
}

.add-user .tashanda-powell {
  color: #727272;
  font-family: "Spartan", Helvetica;
  font-size: 13px;
  font-weight: 400;
  left: 58px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 20px;
  width: 117px;
}

.add-user .text-wrapper-3 {
  color: #727272;
  font-family: "Spartan", Helvetica;
  font-size: 13px;
  font-weight: 400;
  left: 464px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 20px;
  width: 57px;
}

.add-user .text-wrapper-4 {
  color: #727272;
  font-family: "Spartan", Helvetica;
  font-size: 13px;
  font-weight: 400;
  left: 604px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 20px;
  width: 93px;
}

.add-user .text-wrapper-5 {
  color: #727272;
  font-family: "Spartan", Helvetica;
  font-size: 13px;
  font-weight: 400;
  left: 779px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 20px;
  width: 63px;
}

.add-user .text-wrapper-6 {
  color: #727272;
  font-family: "Spartan", Helvetica;
  font-size: 13px;
  font-weight: 400;
  left: 899px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 20px;
  width: 67px;
}

.add-user .text-wrapper-7 {
  color: #727272;
  font-family: "Spartan", Helvetica;
  font-size: 13px;
  font-weight: 400;
  left: 1036px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 20px;
  width: 36px;
}

.add-user .text-wrapper-8 {
  color: #727272;
  font-family: "Spartan", Helvetica;
  font-size: 13px;
  font-weight: 400;
  left: 1153px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 20px;
  width: 83px;
}

.add-user .text-wrapper-9 {
  color: #727272;
  font-family: "Spartan", Helvetica;
  font-size: 13px;
  font-weight: 400;
  left: 232px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 20px;
  white-space: nowrap;
  width: 176px;
}

.add-user .img {
  height: 24px;
  left: 1330px;
  position: absolute;
  top: 14px;
  width: 89px;
}

.add-user .rectangle-5 {
  background-color: #fcfcfc;
  border-radius: 0px 30px 30px 0px;
  height: 1899px;
  left: 0;
  position: absolute;
  top: 0;
  width: 352px;
}

.add-user .team-page-and-icon {
  align-items: center;
  display: inline-flex;
  gap: 27px;
  left: 58px;
  padding: 0px 10px;
  position: absolute;
  top: 377px;
}

.add-user .div-2 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.add-user .rectangle-6 {
  background-color: #fdfcfc;
  border-radius: 15px;
  height: 52px;
  position: relative;
  width: 54px;
}

.add-user .hicon-outline-group {
  height: 35px !important;
  left: 10px !important;
  position: absolute !important;
  top: 8px !important;
  width: 35px !important;
}

.add-user .team {
  color: #686565;
  font-family: "Spartan", Helvetica;
  font-size: 16px;
  font-weight: 500;
  height: 15.8px;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: 50px;
}

.add-user .team-page-and-icon-2 {
  align-items: center;
  display: inline-flex;
  gap: 27px;
  left: 58px;
  padding: 0px 10px;
  position: absolute;
  top: 461px;
}

.add-user .team-icon {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  position: relative;
}

.add-user .hicon-outline {
  height: 33px;
  left: 10px;
  position: absolute;
  top: 10px;
  width: 33px;
}

.add-user .active-user {
  color: #686565;
  font-family: "Spartan", Helvetica;
  font-size: 16px;
  font-weight: 500;
  height: 13.9px;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: 100px;
}

.add-user .team-page-and-icon-3 {
  align-items: center;
  display: inline-flex;
  gap: 27px;
  left: 58px;
  padding: 0px 10px;
  position: absolute;
  top: 545px;
}

.add-user .hicon-outline-add {
  height: 33px;
  left: 10px;
  position: absolute;
  top: 9px;
  width: 33px;
}

.add-user .active-disputes {
  color: #333333;
  font-family: "Spartan", Helvetica;
  font-size: 16px;
  font-weight: 500;
  height: 14.8px;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: 136px;
}

.add-user .rectangle-7 {
  background-color: #f4f5f7;
  border-radius: 22px;
  height: 135px;
  left: 24px;
  position: absolute;
  top: 83px;
  width: 299px;
}

.add-user .frame-11 {
  align-items: center;
  display: inline-flex;
  gap: 31px;
  left: 54px;
  position: absolute;
  top: 114px;
}

.add-user .ellipse {
  height: 72px;
  position: relative;
  width: 70px;
}

.add-user .julie-marcos {
  color: #333333;
  font-family: "Spartan", Helvetica;
  font-size: 20px;
  font-weight: 400;
  height: 17px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: 137px;
}

.add-user .managing-director {
  color: #a2a2a2;
  font-family: "Spartan", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 10.59px;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: 121px;
}

.add-user .edit-or-delete {
  height: 131px;
  left: 1738px;
  position: absolute;
  top: 499px;
  width: 170px;
}

.add-user .overlap-group {
  height: 131px;
  position: relative;
}

.add-user .rectangle-8 {
  background-color: #7272721a;
  border-radius: 32px;
  filter: blur(42px);
  height: 125px;
  left: 0;
  position: absolute;
  top: 6px;
  width: 161px;
}

.add-user .frame-12 {
  align-items: center;
  display: flex;
  gap: 2px;
  justify-content: center;
  left: 8px;
  position: absolute;
  top: 0;
  width: 162px;
}

.add-user .rectangle-9 {
  background-color: #fcfcfc;
  border-radius: 27px;
  height: 131px;
  position: relative;
  width: 155px;
}

.add-user .frame-13 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 21px;
  left: 62px;
  position: absolute;
  top: 41px;
}

.add-user .text-wrapper-10 {
  color: #00b4d8;
  font-family: "Spartan", Helvetica;
  font-size: 16px;
  font-weight: 500;
  height: 13px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: 34px;
}

.add-user .text-wrapper-11 {
  color: #ef233c;
  font-family: "Spartan", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 13px;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: 56px;
}

.add-user .frame-14 {
  align-items: flex-start;
  display: inline-flex;
  gap: 1005px;
  left: 375px;
  position: absolute;
  top: 1757px;
}

.add-user .element-official {
  color: #a2a2a2;
  font-family: "Spartan", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.4px;
  line-height: 24px;
  margin-top: -1px;
  position: relative;
  width: 343.32px;
}

.add-user .span {
  color: #a2a2a2;
  font-family: "Spartan", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.4px;
  line-height: 24px;
}

.add-user .text-wrapper-12 {
  color: #137fff;
  font-family: "Spartan", Helvetica;
  font-size: 14px;
  font-weight: 400;
  height: 11px;
  letter-spacing: 0.4px;
  line-height: 24px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: 95.55px;
}

.add-user .filter {
  align-items: center;
  border-radius: 6px;
  display: flex;
  gap: 21px;
  left: 354px;
  overflow: hidden;
  padding: 20px;
  position: absolute;
  top: 310px;
  width: 1463px;
}

.add-user .filter-2 {
  align-items: center;
  display: flex;
  gap: 16px;
  padding: 0px 367px 0px 0px;
  position: relative;
  width: 874px;
}

.add-user .button {
  align-items: center;
  background-color: #eff6ff;
  border-radius: 5px;
  display: flex;
  gap: 4px;
  height: 43px;
  justify-content: center;
  overflow: hidden;
  padding: 5px 0px;
  position: relative;
  width: 112px;
}

.add-user .content {
  position: relative;
  width: 2px;
}

.add-user .ellipse-2 {
  background-color: #137fff;
  border-radius: 11.75px/10.47px;
  height: 20.94px;
  position: relative;
  width: 23.5px;
}

.add-user .text-wrapper-13 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 14px;
  font-weight: 500;
  left: 3px;
  letter-spacing: 0.4px;
  line-height: 24px;
  position: absolute;
  top: 5px;
  white-space: nowrap;
  width: 17px;
}

.add-user .unstyled-button {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 21px;
  justify-content: center;
  padding: 7px 0px;
  position: relative;
  width: 59px;
}

.add-user .button-wrapper {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  gap: 28px;
  margin-bottom: -1.5px;
  margin-top: -1.5px;
  position: relative;
  width: 59px;
}

.add-user .button-2 {
  all: unset;
  box-sizing: border-box;
  color: #137fff;
  font-family: "Spartan", Helvetica;
  font-size: 14px;
  font-weight: 500;
  height: 10px;
  letter-spacing: 0.4px;
  line-height: 24px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: 59px;
}

.add-user .button-3 {
  align-items: center;
  border: 1px solid;
  border-color: #8a8d9380;
  border-radius: 5px;
  display: flex;
  gap: 5px;
  height: 41px;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 130px;
}

.add-user .ellipse-3 {
  background-color: #e8e8e8;
  border-radius: 11.75px/10.47px;
  height: 20.94px;
  position: relative;
  width: 23.5px;
}

.add-user .text-wrapper-14 {
  color: #333333;
  font-family: "Inter", Helvetica;
  font-size: 14px;
  font-weight: 500;
  left: 3px;
  letter-spacing: 0.4px;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 5px;
  white-space: nowrap;
  width: 17px;
}

.add-user .content-2 {
  position: relative;
  width: 1px;
}

.add-user .content-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  padding: 11px 0px;
  position: relative;
  width: 77px;
}

.add-user .div-wrapper {
  align-items: center;
  display: inline-flex;
  gap: 28px;
  height: 12px;
  justify-content: center;
  position: relative;
}

.add-user .button-4 {
  all: unset;
  box-sizing: border-box;
  color: #8a8d93;
  font-family: "Spartan", Helvetica;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.4px;
  line-height: 24px;
  margin-top: -1px;
  position: relative;
  width: 77px;
}

.add-user .filter-3 {
  align-items: center;
  display: flex;
  gap: 24px;
  justify-content: flex-end;
  position: relative;
  width: 489px;
}

.add-user .textfield-outlined {
  align-items: flex-start;
  border-radius: 6px;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 3px;
  position: relative;
}

.add-user .input {
  align-items: flex-start;
  align-self: stretch;
  border: 1px solid;
  border-color: #3a35413b;
  border-radius: 6px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 0px 12px;
  position: relative;
  width: 100%;
}

.add-user .inactive {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 8px;
  padding: 8px 0px 8px 5px;
  position: relative;
  width: 100%;
}

.add-user .search-by-name {
  background: transparent;
  border: none;
  color: #3a354161;
  flex: 1;
  font-family: "Spartan", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.15px;
  line-height: 24px;
  margin-top: -1px;
  padding: 0;
  position: relative;
}

.add-user .unstyled-button-wrapper {
  all: unset;
  align-items: center;
  background-color: #2684ff;
  border-radius: 5px;
  box-shadow: var(--light-elevation-3);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 167px;
}

.add-user .unstyled-button-2 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  padding: 7px 22px;
  position: relative;
}

.add-user .button-5 {
  all: unset;
  box-sizing: border-box;
  color: #ffffff;
  font-family: "Spartan", Helvetica;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.4px;
  line-height: 24px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.add-user .more-vert {
  height: 24px;
  margin-right: -6px;
  position: relative;
  width: 24px;
}

.add-user .frame-15 {
  height: 15px;
  left: 702px;
  position: absolute;
  top: 3030px;
  width: 135px;
}
